*{ 
  box-sizing: border-box;

}

h1{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 600%;
    font-size: 60px;
    line-height: 81px;
    text-align: center;
    font-family: 'Darker Grotesque';
    margin-bottom: 10%;
    

}

label{
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;

}

.formulario {

    background: #FFFFFF;
    display: flex;
    align-items: center; /* Centraliza na vertical */
    justify-content: center; /* Centraliza na horizontal */
   
  
}

form{
  padding: 2% 5%;
  border: 4px solid #333333;
  background: #FFFFFF;;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
  

}

.campo1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
.campo {
    gap: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;


  }

  .campoNome {

    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;


  }

  .campoAnos {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    margin: 0 auto;


  }

  #nome{
    width: 90%;
    height: 39px;
    padding-right: 10%;
    background: #E6E6E6;
    border: 1px solid #333333;
    

  }

  #anos{
    width: 100%;
    height: 39px;
    background: #E6E6E6;
    border: 1px solid #333333;
    
  }

#foto{
    width: 100%;
    height: 39px;
    background: #E6E6E6;
    border: 1px solid #333333;
    

}


button{

  margin: 20px auto; /* distancia do topo */
  display: flex;
  justify-content: center; /* centraliza na horizontal */
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
  padding: 12px 60px;
  background: #2C5680;
  border: 1px solid #333333;
  text-align: center;
  
}

  #descricao{
    width: 100%;
    height: 250px ;
    background: #E6E6E6;
    border: 1px solid #333333;
    
}




