main {
    padding: 50px 0px;
    width: 80vw;
    margin: 0px 10vw;
}

section {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin: 50px 0px;
}

#lobinho img {
    border-radius: 50%;
    height:200px;
    width: 200px;
    object-fit: cover;
}

#lobinho > div {
    padding-top: 20px;
    font-weight: bold;
}

#lobinho > div h1 {
    font-size: 3rem;
}

#form form {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 50px;
}

.input-label {
    display:flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap:20px;
}

.input-label label {
    font-size: 2rem;
    font-weight: bold;
}

.input-label input {
    font-size: 2rem;
    border-bottom: 1px solid black;
}

#form input[type=submit] {
    appearance: none;
    border:none;
    color: white;
    font-weight: bold;
    background: #2C5680;
    padding: 10px 30px;
    font-size: 2rem;
    margin: 0 auto;
}

.centralize {
    width:100%;
    display: flex;
    justify-content: center;
}

