.footer{
    background-color:#333333;
    color:#FFFFFF;
    display:flex;
    align-items: center;
    justify-content:center;
    padding: 2.5rem;
  /*  gap: 4rem;*/
    flex-wrap: wrap;
}

.link-who{
    background-color:  #deb959;
    padding:3px 12px;
    color: #353535;
    font-weight:bold;
    margin-top:10px;
    transform: translateY(10px);
    margin-left: 18px;
}

.contats{
    display: flex;
    flex-flow:column wrap;
    justify-content: space-between;
    width:30%;
    height:168px;
    padding: 2px 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:inherit;
}

p{
   font-family:"Darker Grotesque"; ;
}

.container-footer{
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 425px) {
    footer p{
        text-align: center;
    }
}