.header {
    display: flex;
    justify-content: space-around;
    background-color: #85CDF5;
    align-items: center;
    font-family: 'Darker Grotesque';
    padding: 1rem;
  }
  
  .header a {
    text-decoration: none;
    color: #333333;
    font-size: 2rem;
  }
  
  .link-header {
    position: relative;
  }

  .link-header::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid black;
    opacity: 0;
    transition: all .3s linear;
  }

  .link-header:hover::after {
    opacity: 1;
    transform: translateY(4px);
  }
  
