p{
    font-size:28px;
}
:root {
    font-size: 20px;
}

* {
    font-family: 'Darker Grotesque';
}

.container-homepage{
    align-items: center;
}

.adopt{
    background-image:url('/media/fundolobo.png');
    height:500px;
    background-size:cover;
    background-repeat: no-repeat;
    color:#FFFFFF;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.about{
    background-color:#2C5680;
    height:400px;
    display: flex;
    flex-flow: column;
    text-align: justify;
    align-items: center;
    color:#FFFFFF;
}

.value{
    padding:2rem;
    background-color: #333333;
    height:600px;
    color:#FFFFFF;


}


.valuesimage{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    color:white;
    gap: 100px;
}

.img-card {
    padding: 20px;
    background: white;
    border-radius: 50%;
    object-fit: contain;
}


.example{
    background-color: white;
}

.title{
    color:#DEB959;
    font-size:48px;
    text-align: center;
    font-weight:bold;
    margin:35px
}

.right{
    color:#000000
}

.left{
    color:#000000
}

.card-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: 150px;
  gap: 15px;
  text-align: center;
}

.card-container h1 {
  font-weight: bold;
  font-size: 2rem;

}

/*lobos exemplo*/

.container-lobos {
  display: flex;
  flex-direction: column;
}

.card-lobo {
    margin: 3rem auto 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
    text-align: justify;
  }

  .card-header-2 {
    gap: 2rem;
  }
  
  .img-lobo {
    width:430px;
    height: 328px;

  }
  
  .img-esquerda {
    box-shadow: -1.5em -1.5rem #2C5680;
    
  }
  
  .img-direita {
    box-shadow: 1.5em -1.5rem #2C5680;

  }
  
  .card-info {
    display: flex;
    flex-direction: column;
  }
  
  .info-impar {
    margin-left: 2rem;
   
  }
  
  .info-par {
    margin-right: 2rem;
    
  }
  
  .card-header-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .card-header-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    flex-direction: row-reverse;
  }
  
  .titulo-lobo {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .idade-lobo {
    font-size: 1.25rem;
    font-weight: 300;
  }
  

  .texto-lobo {
    font-size: 1.5rem;
    line-height: 1.25rem;
  }

#companheirismo{

    letter-spacing:-3px;
    font-size: 36px;
} 

#adotelobinho{
    font-size:96px;
    color:#FFFFFF;
    
}