.container-geral {
  margin: 2rem 0;
}

.busca {
  display: flex;
  justify-content: center;
}

.img-busca {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  left: 2rem;
  margin-top: 4px;
}

.input-busca {
  width:45%;
  height: 2rem;
  margin-right: 1.25rem;
  padding-left: 2rem;
  border: 2px solid #000000;
  border-radius: 6px;
}

.input-busca:focus {
  border: 2px solid #2C5680;
  outline: 2px solid #2C5680;
}

.btn-busca {
  color: #ffffff;
  background-color: #DEB959;
  font-size: 1.5rem;
  padding: 0.25rem 0.8rem;
  border: none;
}

.adotados {
  text-align: center;
}

.check-adotados {
  width: 1rem;
  height: 1rem;
  border: 2px solid #000000;
}

.check-adotados:checked {
  background-color: #2C5680;
}

.check-label {
  font-size: 1.5rem;
}

.card-lobo {
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.img-lobo {
  width:430px;
  height: 328px;
}

.img-esquerda {
  box-shadow: -1.5em -1.5rem #2C5680;
}

.img-direita {
  box-shadow: 1.5em -1.5rem #2C5680;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.info-impar {
  margin-left: 2rem;
}

.info-par {
  margin-right: 2rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.titulo-lobo {
  font-size: 2rem;
  font-weight: 700;
}

.idade-lobo {
  font-size: 1.25rem;
  font-weight: 300;
}

.adotar-lobo {
  font-size: 1.5rem;
  background-color: #DEB959;
  color:#ffffff;
  padding: 0.5rem 2rem;
  border: none;
}

.lobo-adotado{
  background-color: #7AAC3A;
}

.texto-lobo {
  font-size: 1.5rem;
  line-height: 1.25rem;
}

/* codigo não funcional
.ativa {
  background: blue;
  padding: 0px 5px;
  color: white;
}*/

.container-paginacao {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.botao-paginacao {
  font-size: 1.5rem;
  background-color: #ffffff;
  margin: 0 1rem;
  cursor: pointer;
  transition: all .2s linear;
}

.botao-paginacao:hover {
  transform: scale(1.2);
}

