*, *::before, *::after {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
}

input, button {
    appearance: none;
    border: none;
}

*:not(i) {
    font-family: 'Darker Grotesque';
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}
