main {
    padding: 50px 0px;
}

section {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin: 50px 0px;
}


#content .text-container, #content .image-container {
    width: 33%;
}

#content .text-container {
    font-size: 1.25rem;
}

#content .image-container img {
    width: 100%;
    height: auto;
    box-shadow: -50px -30px #2C5680;
}

#content .btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.aceitar, .excluir {
    color: white;
    padding: 20px 40px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.aceitar {
    background: #7AAC3A;
}

.excluir {
    background: #DE5959;
}

