.titulo-sobre {
  font-family: 'Darker Grotesque';
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}

.texto-sobre {
  font-family: 'Darker Grotesque';
  font-size: 1.5rem;
  letter-spacing: 0.155em;
  line-height: 1.5rem;
  text-align: center;
  width: 60%;
  margin: 3rem auto;
}